<main id="mainContent">
  <div class="fondo">
    <section>
      <div class="container-sec">
        <div class="flex-absolute">
          <img class="sec-img" src="/static/public/img/edit-AMD-Intel.jpg" alt="fondoVs">
          <!-- Con Js hacemos un filter a las imagenes para traer los productos segun su categoria -->
          <!-- por ahora voy a aplicar productos.html -->
          <a href="/views/pages/combos.html"><img class="section-intel" src="/static/public/img/intel-Simbolo.png"
              alt="Intel"></a>
          <a href="/views/pages/combos.html"><img class="section-amd" src="/static/public/img/AMD-Simbolo.png"
              alt="Amd"></a>
        </div>
      </div>
    </section>
    <!--********** CARDS DE PRODUCTOS ************ -->
    <table class="container-table">
      <!-- ***** Combos AMD ***** -->
      <div>
        <tr class="row-fluid">
          <!-- Table Header - Encabezado de Tablas -->
          <th class="title-h">
            <h1 class="title-card">Productos</h1>
          </th>
        </tr>
        <tr class="gen-card">
          <!-- Table Data - datos de Tablas -->
          <td class="prdt-1 card-product" id="productsId">
            {{#each products}}
            <div class="fond-card1">
              <img class="img-p" src="../static/public/img/productos/{{ thumbnail }}" alt="{{ thumbnail }}">
              <span class="stock" id="segunStock">{{ stock }}</span>
              <span class="fav-start fa fa-star"></span>
              <div class="col-md-subCard">
                <p class="name-prod">{{ title }}</p>
                <span class="price-prod">${{ price }}</span>
                {{#if ../userExist}}
                <button class="btn-cart btn-outline-dark"
                 onclick="addProductToCart('{{_id}}', '{{title}}', {{stock}})">Add to Cart</button>
                {{else}}
                <a href="/login" class="btn-cart btn-outline-dark">Iniciar sesión</a>
                {{/if}}
              </div>
            </div>
            {{/each}}
          </td>
      </div>
    </table>
    <div class="pagination" id="pagination">
      {{#if hasPrevPage}}
      <a id="prevPageButton"
        href="/products?limit={{ limit }}&page={{ prevPage }}{{#if sort}}&sort={{ sort }}{{/if}}">«</a>
      {{/if}}
      <b>{{ page }}</b>
      {{#if hasNextPage}}
      <a id="nextPageButton"
        href="/products?limit={{ limit }}&page={{ nextPage }}{{#if sort}}&sort={{ sort }}{{/if}}">»</a>
      {{/if}}
    </div>
  </div>
</main>
<script src="/static/logic/userCurrent.js"></script>
<script src="/static/logic/products.js"></script>